/* regole generali di pagina */

body {
    background-color: rgb(230, 227, 227);
}

.container {
    width: 70%;
    margin: 0 auto;
}

/* regole header */

header {
    background-color: rgb(247, 242, 242);
}

#visual-logo {
    line-height: 100%;
    vertical-align: middle;
}

#scritta-logo {
    font-size: 40px;
    line-height: 100%;
    vertical-align: middle;
}

/* regole contenuto principale */

#button {
margin-top: 50px;
border-radius: 9999px;
font-size: 10px;
line-height: 100%;
vertical-align: middle;
}